.container {
    background-color: #F0F4F3;
    padding: 10px; 
}

.email-field {
    width: 100%; 
}

.buttons-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 1rem; 
}
